$GLOBAL-COLOR-DEFAULT: #000000 !default;
$GLOBAL-COLOR-PRIMARY: #FEFADB !default;
$GLOBAL-COLOR-SECONDARY: #41453D !default;
$GLOBAL-COLOR-TERTIARY: #F4F1E5 !default;


$GLOBAL-COLOR-TEXT: $GLOBAL-COLOR-SECONDARY !default;
$GLOBAL-COLOR-TEXT-LIGHT: #FFFFFF !default;
$GLOBAL-COLOR-BACKGROUND: $GLOBAL-COLOR-TERTIARY !default;
