/* Font Body*/
$GLOBAL-FONT-FAMILY: "Inter Tight", sans-serif !default;
$GLOBAL-LINE-HEIGHT: 1.5 !default;
$GLOBAL-FONT-WEIGHT: 200 !default;
$GLOBAL-FONT-SIZE-XS: 0.563rem !default; // 9px
$GLOBAL-FONT-SIZE-S: 0.75rem !default; // 12px
$GLOBAL-FONT-SIZE: 1rem !default; // 16px
$GLOBAL-FONT-SIZE-M: 1.25rem !default; // 20px


/* Font Headlines*/
$GLOBAL-FONT-FAMILY-HEADING: "Cormorant Garamond", serif !default;
$GLOBAL-LINE-HEIGHT-HEADING: 1.2 !default;
$GLOBAL-LINE-HEIGHT-HEADING-S: 1 !default;
$GLOBAL-FONT-WEIGHT-HEADING: 500 !default;
$GLOBAL-FONT-SIZE-H1: 5.61rem !default; // 89.76px
$GLOBAL-FONT-SIZE-H2: 4.209rem !default; // 67.34px
$GLOBAL-FONT-SIZE-H3: 3.157rem !default; // 50.52px
$GLOBAL-FONT-SIZE-H4: 2.369rem !default; // 37.9px
$GLOBAL-FONT-SIZE-H5: 2.369rem !default; // 28.43px
$GLOBAL-FONT-SIZE-H6: 2.369rem !default; // 21.33px
