@use '../01-tokens' as TOKENS;

$credentials-max-inline-size: 600px !default;
$credentials-gap: TOKENS.$GLOBAL-SPACING-MD !default;
$credentials-gap-large: TOKENS.$GLOBAL-SPACING-L !default;
$credentials-block-size: 80px !default;

.c-credentials {
	display: grid;
	gap: $credentials-gap;
	margin: 0 auto;
	max-inline-size: $credentials-max-inline-size;
}

.c-credentials__text {
	text-align: center;
}

.c-credentials__badges {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: $credentials-gap-large;
}

.c-credentials__badge-logo {
	display: block;
	max-inline-size: 100%;
	inline-size: 100%;
	block-size: $credentials-block-size;
}
