<nav class="c-meta-navigation">
    <ul class="c-meta-navigation__list">
        <li class="c-meta-navigation__item">
            ©2026<a class="c-meta-navigation__link" href="#">Kaat DM Photography</a>
        </li>
        <li class="c-meta-navigation__item">
            <a class="c-meta-navigation__link" href="#">Cookie policy</a>
        </li>
        <li class="c-meta-navigation__item">
            <a class="c-meta-navigation__link" href="#">Terms & Conditions</a>
        </li>
        <li class="c-meta-navigation__item">
            <a class="c-meta-navigation__link" href="#">Made by Wildbloei x Sitetrip</a>
        </li>
    </ul>
</nav>
