<div class="c-hero">
    <div class="c-hero__container">
        <h1 class="c-hero__headline h2">
            European elopement & wedding
            photographer for the fearless, the
            open—minded & the adventurous.
        </h1>
    </div>
    <img class="c-hero__image" src="/images/img.png" alt="background">
</div>
