<nav class="c-navigation">
    <ul class="c-navigation__list">
        <li class="c-navigation__item">Stories</li>
        <li class="c-navigation__item">About</li>
        <li class="c-navigation__item">Pricing</li>
        <li class="c-navigation__item">For photographers</li>
        <li class="c-navigation__item">Say hi</li>
    </ul>
</nav>
