<div class="c-card">
    <div class="c-card__start">
        <figure class="c-card__figure">
            <img class="c-card__image" src="{{ image }}" alt="">
            <figcaption class="c-card__figcaption">{{ caption1 }}</figcaption>
            <figcaption class="c-card__figcaption">{{ caption2 }}</figcaption>
        </figure>
    </div>
    <div class="c-card__end">
        <h3 class="c-card__text">{{ text }}</h3>
    </div>
</div>
